@import './base.css';

/*	
#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	font-weight: normal;
}
*/
a,
.green {
	text-decoration: none;
	color: hsla(160, 100%, 37%, 1);
	transition: 0.4s;
	padding: 3px;
}

/* My own styling here: */

.nav-box {
	width: 100vw;
	height: 135px;
	background: linear-gradient(to left, #58ac70, #4065aa);
	display: flex;
	justify-content: center;
	color: black;
}


#fish-logo{
	height: 100px;
	margin: 0px;
}

#logo-text {
	position: absolute;
	margin: 69px 0 0;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 400px 0;
}

.footer-box {
	width: 100vw;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer-line {	
	width: 98vw;
	height: 3px;
	background-color: grey;
	margin-bottom: 50px;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}
